@import "tailwindcss";

@font-face {
  font-family: 'emiken';
  src: url('./assets/fonts/Emiken-Display-BF64723442052e7.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* avoid invisible text during load */
}

@font-face {
  font-family: 'samarkan';
  src: url('./assets/fonts/Samarkan\ Normal.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* avoid invisible text during load */
}

@font-face {
  font-family: 'satoshi';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap; /* avoid invisible text during load */
}

@font-face {
  font-family: 'saans';
  src: url('./assets/fonts/SaansTRIAL-SemiBold.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* avoid invisible text during load */
}